<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit - category</title>
</head>
<body>
<h1>Edit Category</h1>
<form th:action="@{~/category/update}" method="post">
    <input type="hidden" name="id" th:value="${category.id}">

    <label for="name">Name</label>
    <input id="name" type="text" name="name" th:value="${category.name}">

    <button type="submit">Save</button>
    <button>
        <a th:href="@{~/category}">Back</a>
    </button>
</form>
</body>
</html>