<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail - customer</title>
</head>
<body>
<h1>Detail Customer</h1>
<form th:action="@{/customer/detail}" method="get">

    <label for="id">ID</label>
    <input id="id" type="text" th:value="${customer.id}" readonly><br>

    <label for="name">Name</label>
    <input id="name" type="text" th:value="${customer.name}" readonly><br>

    <label for="email">Email</label>
    <input id="email" type="email" th:value="${customer.email}" readonly><br>

    <label for="phone">Phone</label>
    <input id="phone" type="text" th:value="${customer.phone}" readonly><br>

    <label for="address">Address</label>
    <input id="address" type="text" th:value="${customer.address}" readonly><br>

    <button>
        <a th:href="@{~/customer}">Back</a>
    </button>
</form>
</body>
</html>