<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail - order</title>
</head>
<body>
<h1>Detail Order</h1>
<form th:action="@{~/order/detail}" method="get">

    <label for="id">Id</label>
    <input id="id" type="text" name="id" th:value="${order.id}" readonly><br>

    <label for="orderNumber">Order Number</label>
    <input id="orderNumber" type="text" name="orderNumber" th:value="${order.orderNumber}" readonly><br>

    <label for="orderDate">Order Date</label>
    <input id="orderDate" type="text" name="orderDate" th:value="${order.orderDate}" readonly><br>

    <label for="customer">Customer</label>
    <input id="customer" type="text" name="customer" th:value="${order.customer.name}" readonly><br>

    <label for="orderStatus">Status</label>
    <input id="orderStatus" type="text" name="orderStatus" th:value="${order.orderStatus}" readonly><br>

    <label for="paymentMethod">Payment Method</label>
    <input id="paymentMethod" type="text" name="paymentMethod" th:value="${order.paymentMethod}" readonly><br>

    <label for="items">Items</label>
    <input id="items" type="text" name="items" th:value="${order.items}" readonly><br>

    <button>
        <a th:href="@{~/order}">Back</a>
    </button>
</form>
</body>
</html>