<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete - product</title>
</head>
<body>
<h1>Delete Product</h1>
<form th:action="@{~/product/delete}" method="post">
    <input type="hidden" name="id" th:value="${product.id}">

    <label for="name">Name</label>
    <input id="name" type="text" name="name" th:value="${product.name}"><br>

    <label for="price">Price</label>
    <input id="price" type="number" name="price" th:value="${product.price}"><br>

    <label for="stock">Stock</label>
    <input id="stock" type="number" name="stock" th:value="${product.stock}"><br>

    <label for="category">Category</label>
    <input id="category" type="text" name="category" th:value="${product.getCategory().name}">

    <button type="submit">Delete</button>

    <button>
        <a th:href="@{~/product}">Back</a>
    </button>

</form>
</body>
</html>