<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail - product</title>
</head>
<body>
<h1>Detail Product</h1>
<form th:action="@{/product/detaiil}" method="get">

    <label for="id">ID</label>
    <input id="id" type="text" th:value="${product.id}" readonly><br>

    <label for="name">Name</label>
    <input id="name" type="text" th:value="${product.name}" readonly><br>

    <label for="price">Price</label>
    <input id="price" type="number" th:value="${product.price}" readonly><br>

    <label for="stock">Stock</label>
    <input id="stock" type="number" th:value="${product.stock}" readonly><br>

    <label for="category">Category</label>
    <input id="category" type="text" th:value="${product.category.getName()}" readonly><br>

    <button>
        <a th:href="@{~/product}">Back</a>
    </button>
</form>
</body>
</html>